.imageOne {
  background-image: url(../assests/backgrounds/churchAlter.jpg);
}
.imageTwo {
  background-image: url(../assests/backgrounds/cloud.png);
}
.imageThree {
  background-image: url(../assests/backgrounds/praying.png);
}
