.vicar {
  background-image: url("../assests/vicar.jpg");
}
.curate {
  background-image: url("../assests/curate.jpg");
}
.okafor {
  background-image: url("../assests/okafor.jpg");
}
.shutdown {
  background-image: url("../assests/shutDown.jpg");
}
.gra {
  background-image: url("../assests/gra.jpg");
}
.garaku {
  background-image: url("../assests/garaku.jpg");
}
.jigwada {
  background-image: url("../assests/jigwada.jpg");
}
